.banner{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

/* 그라데이션 효과 */
.banner:before{
    content: "";
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 80vh;
    width: 100%;
}

.banner-text-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}

.banner-text-area > *{
    z-index: 2;
}

@media (max-width:900px) {
    .banner, .banner:before{
        height: 50vh;
    }
}

@media (max-width:500px) {
    .banner, .banner:before{
        
        height: 30vh;
    }
}