.ageicon-base{
    width: 25px;
    height: 25px;

    text-align: center;
    align-content: center;
    border-radius: 50%;
    font-size: 0.6rem;

    color: black;

    font-weight: 900;

}


.ageicon-adult{
    background-color: red;
}

.ageicon-all{
    background-color: yellow;

}