.movie-contents-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 20px;
}

.movie-option-box{
    display: flex;
    gap: 20px;
}

@media (max-width:991px){
    .movie-option-box{
        justify-content: center;
    }   
}